.DS_STORE
*.DS_Store
.ipynb_checkpoints
data/external/*
!data/external/.gitkeep
data/features/*
!data/features/.gitkeep
data/figures/*
!data/figures/.gitkeep
data/raw/*
!data/raw/external
data/raw/external/*
!data/raw/external/.gitkeep
!data/raw/input
data/raw/input/*
!data/raw/input/.gitkeep
data/submission/*
!data/submission/.gitkeep
data/interim/*
!data/interim/.gitkeep
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
notebooks/bk/*
*.gsheet
*.bin
*.pt
sample_code/1th_place_solution/*
!sample_code/1th_place_solution/atmacup20-solution-discussion.ipynb
sample_code/3th_place_solution/*
!sample_code/3th_place_solution/takaito.ipynb
.venv